#index {
  padding-bottom: 50px;
  // swiper部分
  .swiper {
    position: relative;
    .search {
      position: absolute;
      z-index: 1;
      top: 25px;
      width: 100%;
      padding: 0 10px;
      .search-left {
        flex: 1;
        height: 34px;
        margin: 0 10px;
        padding: 5px 5px 5px 8px;
        border-radius: 3px;
        background-color: #fff;
        .location {
          i {
            margin-left: 2px;
            font-size: 12px;
            color: #7f7f80;
          }
        }
        .search-form {
          border-left: solid 1px #e5e5e5;
          margin-left: 12px;
          line-height: 16px;
          i {
            vertical-align: middle;
            padding: 0 2px 0 12px;
            color: #9c9fa1;
            font-size: 15px;
          }
          span {
            padding-left: 4px;
            font-size: 13px;
            color: #9c9fa1;
          }
        }
      }
      .icon-map {
        font-size: 25px;
        color: #fff;
      }
    }
  }
  // nav部分
  .nav {
    background-color: #fff;
    padding: 10px 0;
    .am-flexbox-item {
      text-align: center;
      img {
        width: 48px;
      }
      p {
        margin-top: 7px;
        font-size: 13px;
      }
    }
  }
  // 租房小组部分：
  .group {
    background-color: #f6f5f6;
    padding: 0 10px 10px;
    .title {
      p {
        margin: 15px 0px 15px 10px;
        font-size: 15px;
        font-weight: 700;
      }
      span {
        color: #787d82;
        font-size: 14px;
      }
    }
    .am-flexbox-align-stretch {
      background-color: transparent;
      &:first-child {
        padding-bottom: 10px;
      }
      .am-grid-item {
        .am-grid-item-content {
          padding: 0;
          .content {
            background-color: #fff;
            padding: 10px 10px 20px;
            p {
              font-weight: bold;
              font-size: 13px;
              margin-bottom: 5px;
            }
            span {
              font-size: 12px;
              color: #999;
            }
            img {
              width: 55px;
            }
          }
        }
        &:first-child {
          margin-right: 10px;
        }
      }
    }
  }
  // 最新资讯：
  .news {
    padding: 10px;
    background-color: #fff;
    overflow: hidden;

    .group-title {
      margin: 10px 0 5px 10px;
      font-size: 15px;
    }

    .news-item {
      height: 120px;
      padding: 15px 10px 15px 0;
      border-bottom: 1px solid #e5e5e5;
    }

    .news-item:last-child {
      border: 0;
    }

    .imgwrap {
      float: left;
      height: 90px;
      width: 120px;
    }

    .img {
      height: 90px;
      width: 120px;
    }

    .content {
      overflow: hidden;
      height: 100%;
      padding-left: 12px;
    }

    .title {
      margin-bottom: 15px;
      font-size: 14px;
    }

    .info {
      width: 100%;
      color: #9c9fa1;
      font-size: 12px;
    }

    .message-title {
      margin-bottom: 48px;
    }
  }
}
