.navBar {
  margin-top: -45px;
  background-color: hsl(300, 5%, 96%);
  color: #333 !important;
  // :global {
  //   .am-navbar-title,
  //   .am-navbar-left {
  //     color: #333 !important;
  //   }
  // }
}
