html {
  height: 100%;
}

body {
  background-color: #fff;
  font-family: "Microsoft YaHei";
  height: 100%;
  margin: 0px;
  padding: 0px;
  #root {
    height: 100%;
    .app {
      height: 100%;
    }
  }
}

* {
  box-sizing: border-box;
  touch-action: pan-y;
}

dd,
h1,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
  }
}

.hidden {
  overflow: hidden;
}
